@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

html {box-sizing:border-box}

body{margin:0 ; background-image: url("_img/bgBody.jpg"); background-size: cover;}

header{position: relative; padding: 0px 0;}

#bg-home{min-width: 800px;}

#container-navigation{width: 60%; margin-left:auto; margin-right:auto;}

main{width: 50%; margin-left: auto; margin-right: auto; text-align: justify}

h1 {font-family: 'Antic', sans-serif; text-transform: uppercase; color: #2D2B6C; font-size: 48px; line-height: 1.2em;}

h2 { color: #28ADE4; font-size: 32px; margin-bottom: 0px; font-family: 'Assistant';}

h3{font-family: 'Antic', sans-serif; color: #2D2B6C; font-size: 18px; line-height: initial;}

h5 { display: inline-block; background-color: #ADD2D5; color: #2D2B6C; text-transform: uppercase; padding: 5px 10px;border-radius: 20px; font-size: 12px; margin-top: 30px}

#figure-article1, #figure-article2{width: 130%; margin-left: -15%;}

#colophon {margin-top: 70px;}

#comments-box{width: 100%;}

#dir-thumb{border-radius: 0 0 40px 0;}

#esq-thumb{border-radius: 40px 0 0 0;}
            

@media screen and (max-width: 800px) {

    #bg-home{width: 100%; margin-left: -50%; margin-top: 40%;}

    #container-navigation{width: 90%; margin-left:auto; margin-right:auto;}

    #search-icone{margin-top: -200px;}

    main{width: 85%; margin-left: auto; margin-right: auto; text-align: justify}

    h1 {font-size: 24px;}
    
    h5 {margin-top: 70px}

    .btAgendar {display: none;}

    .btRedes{display: none;}
}